calendar/calendar.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="calendar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="weekday" maxOccurs="7" minOccurs="7">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:byte" name="value" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="month" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="week" maxOccurs="6" minOccurs="6">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="myDayType" name="day" maxOccurs="7" minOccurs="7"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="value" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="year" use="required"/>
                        <xs:attribute type="xs:byte" name="value" use="required"/>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="myDayType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="31"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>